<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/web.css" />
<link rel="stylesheet" media="(max-width: 480px)" href="css/mobile.css" />

</head>
<body>
<!-- header 영역 -->
<div class="header">
  <h1>게시판이름</h1>
  <p>이미지/검색창</p>
</div>
<!-- navigator 영역 -->
<div class="nav">
  <a href="#">Home</a>
  <a href="#">모집</a>
  <a href="#">나눔</a>
  <a href="#">공지</a>
</div>
<!-- main content 영역 -->
<div class="row">
  <div class="center">
    <div class="card">
      <h2>모집공고</h2>
      <div class="card">
      <img alt="" src="" > 
      <h3>제목</h3>
      <input type="text"/>
      
      </div>
      <h5>GitHub Trends (6월 2주)</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <h5>1. ry / deno</h5>
        <p>이번 주에 8,792번의 스타를 받은 TypeScript 리포지터리 입니다. </p>
        <p>내용 1</p>
    </div>
</div>
<!-- sidebar content 영역 -->
  <div class="right">
    <div class="card">
      <h2>Username</h2>
      <h5>로그아웃 or 로그인 </h5>
      <p>회원정보</p>
    </div>
  </div>
</div>
<!-- footer 영역 -->
<div class="footer">
  <h3>link: http://keen.devpools.kr</h3>
</div>
</body>
</html>