<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
    
	<!--/* layout/layout.html 파일의 "content" 프래그먼트에 삽입될 컨텐트  */-->
    <div layout:fragment="content">
        <div class="card my-2">
            <div class="card-header">
                <h1>축제,취미활동 게시판</h1>
            </div>
            <div class="card-body">
                <div class="my-2">
                    <form th:action="@{ /community/search }" method="get">
                        <div class="row">
                            <div class="col-4">
                                <select name = "type" class="form-control">
                                    <option value="t">제목</option>
                                    <option value="c">내용</option>
                                    <option value="tc">제목 + 내용 </option>
                                    <option value="a">제목</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control"
                                    name="keyword" placeholder="검색어" required autofocus />
                            </div>
                            <div class="col-2">
                                <input type="submit" class="btn btn-light" value="검색" />
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>수정시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="festivalPost : ${ list }">
                            <td th:text="${ festivalPost }"></td> 
                            <td>
                                <a th:href="@{ /community/festivalList?id={id} (id = ${ community.id }) }" th:text = "${ community.title }"></a>
                            </td>
                            <td th:text="${ community.author }"></td>
                            <td th:text="${ #temporals.format(community.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- content -->
    
    <script layout:fragment="script" th:inline="javascript">
    </script>
    
</html>