<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
    
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    
	<!--/* layout/layout.html 파일의 "content" 프래그먼트에 삽입될 컨텐트  */-->
    <div layout:fragment="content">
        <div class="card my-2">
            <div class="card-header">
                <h1>축제,취미활동 게시판</h1>
            </div>
            <div class="card-body">
                <div class="my-2">
                    <form th:action="@{ /post/search }" method="get">
                        <div class="row">
                            <div class="col-auto my-2">
                                기간검색
                            </div>
                            <div class="col-auto">
                                <input class="btn btn-primary" type="button" value="일주일">
                            </div>
                            <div class="col-auto">
                                <input class="btn btn-primary" type="button" value="1개월">
                            </div>
                            <div class="col-auto">
                                <input class="btn btn-primary" type="button" value="3개월">
                            </div>
                            <div class="col-auto my-1" >
                                <input class="datepicker" type="text" id="datepicker" >
                            </div>
                            <div class="col-auto my-1">
                                ~
                            </div>
                            <div class="col-auto my-1">
                                <input class="datepicker" type="text" id="datepicker" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <select name="type" class="form-control">
                                    <option value="t">제목</option>
                                    <option value="c">내용</option>
                                    <option value="tc">제목 + 내용</option>
                                    <option value="a">작성자</option>
                                </select>
                            </div>
                            <div class="col-auto my-4">
                                <input type="text" class="form-control" 
                                    name="keyword" placeholder="검색어" required autofocus />
                            </div>
                            <div class="col-auto my-4">
                                <input type="submit" class="btn btn-light" value="검색" />
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>수정시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="festivalPost : ${ list }">
                            <td th:text="${ festivalPost }"></td> 
                            <td>
                                <a th:href="@{ /community/festivalList?id={id} (id = ${ community.id }) }" th:text = "${ community.title }"></a>
                            </td>
                            <td th:text="${ community.author }"></td>
                            <td th:text="${ #temporals.format(community.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- content -->
    
    
    <script layout:fragment="script" th:inline="javascript">
    </script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
       $(function() {
           //input을 datepicker로 선언
           $("#datepicker").datepicker({
               dateFormat: 'yy-mm-dd' //달력 날짜 형태
               ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
               ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
               ,changeYear: true //option값 년 선택 가능
               ,changeMonth: true //option값  월 선택 가능                
               ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
               ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
               ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
               ,buttonText: "선택" //버튼 호버 텍스트              
               ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
               ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
               ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
               ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
               ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
               ,minDate: "-5Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
               ,maxDate: "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
           });                    
           
           //초기값을 오늘 날짜로 설정해줘야 합니다.
           $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)            
       });
    </script>
    
</html>